{% extends "model-page.html" %}

{% block content %}
    <a type="button" type="submit" class="btn btn-warning btn-block" href="/ingredient/create">
        <i class="fas fa-plus-circle"></i> Novo ingrediente
    </a>
    <a type="button" type="submit" class="btn btn-warning btn-block" href="#">
        <i class="fas fa-list"></i> Listar todos ingedientes
    </a>
    <a type="button" type="submit" class="btn btn-warning btn-block" href="#">
        <i class="fas fa-filter"></i> Filtrar ingredientes
    </a>
{% endblock %}