{% extends "model-page.html" %}

{% block content %}
    <a type="button" type="submit" class="btn btn-warning btn-block" href="/beverage/create">
        <i class="fas fa-plus-circle"></i> Criar nova bebida
    </a>
    <a type="button" type="submit" class="btn btn-warning btn-block" href="#">
        <i class="fas fa-list"></i> Listar todas bebidas
    </a>
    <a type="button" type="submit" class="btn btn-warning btn-block" href="#">
        <i class="fas fa-filter"></i> Filtrar bebidas
    </a>
{% endblock %}