{% extends "model-page.html" %}

{% block content %}
    <a type="button" type="submit" class="btn btn-warning btn-block" href="/sandwich/create">
        <i class="fas fa-plus-circle"></i> Criar novo lanche
    </a>
    <a type="button" type="submit" class="btn btn-warning btn-block" href="/sandwich/list">
        <i class="fas fa-list"></i> Listar todos lanches
    </a>
    <a type="button" type="submit" class="btn btn-warning btn-block" href="/sandwich/filter">
        <i class="fas fa-filter"></i> Filtrar lanches
    </a>
{% endblock %}