{% extends "model-page.html" %}

{% block content %}
    <a type="button" type="submit" class="btn btn-warning btn-block" href="/ingredient/menu">
        <i class="fas fa-bacon"></i> Ingredientes
    </a>
    <a type="button" type="submit" class="btn btn-warning btn-block" href="#">
        <i class="fas fa-hamburger"></i> Lanche
    </a>
    <a type="button" type="submit" class="btn btn-warning btn-block" href="#">
        <i class="fas fa-glass-martini"></i> Bebidas
    </a>
    <a type="button" type="submit" class="btn btn-warning btn-block" href="#">
        <i class="fas fa-receipt"></i> Pedidos
    </a>
{% endblock %}